<!DOCTYPE html>
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0"/>
<link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_PREFIX }}/images/splash/splash-icon.png"> 
<link rel="apple-touch-startup-image" href="{{ STATIC_PREFIX }}/images/splash/splash-screen.png" media="screen and (max-device-width: 320px)" /> 
<link rel="apple-touch-startup-image" href="{{ STATIC_PREFIX }}/images/splash/splash-screen@2x.png" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" /> 
<link rel="apple-touch-startup-image" href="{{ STATIC_PREFIX }}/images/splash/splash-screen@3x.png" sizes="640x1096">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<title>IVApp</title>
<link href="{{ STATIC_PREFIX }}/style/style.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_PREFIX }}/style/color.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_PREFIX }}/style/buttons.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_PREFIX }}/style/retina.css" media="only screen and (-webkit-min-device-pixel-ratio: 2)" rel="stylesheet" />
<link href="{{ STATIC_PREFIX }}/style/slider.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_PREFIX }}/style/photoswipe.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_PREFIX }}/style/touchTouch.css" rel="stylesheet" type="text/css">
<script src="{{ STATIC_PREFIX }}jquery-1.10.2.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}/funciones.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}/errores.js"></script>

<script src="{{ STATIC_PREFIX }}/scripts/swipe.js"></script>
<script src="{{ STATIC_PREFIX }}/scripts/klass.min.js"></script>
<script src="{{ STATIC_PREFIX }}/scripts/photoswipe.js"></script>
<script src="{{ STATIC_PREFIX }}/scripts/touchTouch.js"></script>
<script src="{{ STATIC_PREFIX }}/scripts/retina.js"></script>
<script src="{{ STATIC_PREFIX }}/scripts/custom.js"></script>
<script src="{{ STATIC_PREFIX }}/scripts/geo.js" type="text/javascript"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCjDno302EgpGOEQyrvQNh9WftmkFZdkVA&sensor=false">
</script>
</head>

<body>

<div class="header">
	<img src="{{ STATIC_PREFIX }}/images/logo.png" alt="img" class="logo replace-2x" width="91">
    <a href="#" class="deploy-navigation"></a>
    <a href="#" class="hide-navigation"></a>
	<div class="clear"></div>
</div>

<div class="deployed-navigation">
    <a href="/" id="ico1" class="navigation-icon home"> INICIO</a>
</div>


<div class="content">



    
    <div class="decoration in-content">
        
        <div id="googleMap" style="width:500px;height:380px;"></div>
        
    </div>
    
        <div class="container">
            

         
        </div>
	</div>

</div>

<div class="decoration"></div>

<p class="center-text copyright">Copyright 2012. All rights reserved.</p>


</body>
</html>


















